
__pycache__/
# *.keras  <-- Commented out to allow pushing the model
# data/    <-- Commented out, but usually we exclude data. 
# Let's be specific: Exclude csv, include json.

data/*.csv
.env
.DS_Store

